
//color 
$color-purple: #2c2945;
$color-purple-100: #a192d9;
$color-purple-200: #8075aa;
$color-purple-300: #6f6593;
$color-purple-400: #474262;
$color-purple-500: #5A5278;

$color-grey-50: #f5f5f5;
$color-grey-100: #f1f1f1;
$color-grey-200: #e8e9e9;
$color-grey-250: #6c757d;
$color-grey-300: #4d5052;

$color-red-500: #ff3333;

$color-primary: #2185d0;

//font-size
$font-size-xs: 0.6875rem;
$font-size-s: 0.75rem;
$font-size-m: 0.875rem;
$font-size-l: 1rem;
$font-size-xl: 1.5rem;
$font-size-2xl: 1.75rem;
$font-size-3xl: 32px;
$font-size-4xl: 38px;

//border-radius
$radius-300: 0.25rem
