@import '../../assets/css/variables.scss';

.employee-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 14px ;
    .p-card{
        &:hover{
            background-color: $color-grey-200;
        }
      }
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-content{
        color: $color-purple;
        margin-top: 8px;
    }
    
}

.employee-table{
    margin-top: 30px;
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 35px;
    grid-gap:30px;
    &-footer{
        padding-top: 40px;
    }
}